{% extends 'base.html.twig' %}

{% block title %}Сбор данных о товарах{% endblock %}

{% block body %}
    <h1>Сбор данных о товарах</h1>

    {{ form_start(form, {'action': path('parser_collect'), 'method': 'POST'}) }}
    {{ form_row(form.url, {'value': url ?? ''}) }}
    {{ form_row(form.pageCount, {'value': pageCount ?? ''}) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
